.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  width: 100% !important;
  justify-content: space-evenly;
  row-gap: 5rem;

}

.portfolio__item {
  display: flex;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  min-width: 500px;
  width: 500px;
  margin-bottom: 10px;





}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: auto;
  display: flex;
  object-fit: cover;
}

.portfolio__description {
  /* width: 50%; */
  /* height: 100%; */
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.h3__d {

  display: flex;
  font-size: 1.5rem;
  color: var(--color-primary);
  justify-content: space-evenly;
}

.p__d {
  margin-left: 15px;
}

.a__d {
  align-self: flex-end;
}

/* --------------Media Queries (Medium Devices) ---------*/
@media screen and (max-width: 600px) {
  .portfolio__container {

    width: 100%;
  }
}
