header {
height: 80vh;
display: flex;
align-content: center;
justify-content: center;
}
.h__1 {
  color: var(--color-primary);
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ----------------CTA ----------*/

.cta {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ----------------Social Media ----------*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 75%;
  bottom: 0rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ----------------Profile Picture ----------*/

.me{
  background: linear-gradient(180deg,var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding:5rem 1.5rem 1.5rem 1.5rem;
}


/* ----------------Scroll Down ----------*/

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 18rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ----------------Media Queries (Medium Devices) ----------*/
@media screen and (max-width:1024px){

header {
  height: 80vh;
}
}

/* ----------------Media Queries (Small Devices) ----------*/
@media screen and (max-width:600px){
  header {
    height: 80vh;
  }

  .header__socials,.scroll__down{
    display:none;
  }
}
